.rotate-center:hover {
  animation: rotate-center .5s ease-in-out infinite both;
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotate-right:hover {
  animation: rotate-right 2s cubic-bezier(.455, .03, .515, .955) both;
}

@keyframes rotate-right {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: 100%;
  }

  100% {
    transform-origin: 100%;
    transform: rotate(360deg);
  }
}

.rotate-diagonal:hover {
  animation: rotate-diagonal-1 .4s linear infinite both;
}

@keyframes rotate-diagonal-1 {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }

  50% {
    transform: rotate3d(1, 1, 0, -180deg);
  }

  100% {
    transform: rotate3d(1, 1, 0, -360deg);
  }
}

.scale-up-center:hover {
  animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1) infinite both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(.5);
  }

  100% {
    transform: scale(1);
  }
}

.scale-up-right:hover {
  animation: scale-up-right .4s cubic-bezier(.39, .575, .565, 1) infinite both;
}

@keyframes scale-up-right {
  0% {
    transform-origin: 100%;
    transform: scale(.5);
  }

  100% {
    transform-origin: 100%;
    transform: scale(1);
  }
}

.flip-horizontal-bottom:hover {
  animation: flip-horizontal-bottom .4s cubic-bezier(.455, .03, .515, .955) infinite both;
}

@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(-180deg);
  }
}

.flip-vertical-fwd:hover {
  animation: flip-vertical-fwd .4s cubic-bezier(.455, .03, .515, .955) infinite both;
}

@keyframes flip-vertical-fwd {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }

  100% {
    transform: translateZ(160px)rotateY(180deg);
  }
}

.shadow-pop-tr:hover {
  animation: shadow-pop-tr .3s cubic-bezier(.47, 0, .745, .715) both;
}

@keyframes shadow-pop-tr {
  0% {
    transform: translateX(0)translateY(0);
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
  }

  100% {
    transform: translateX(-8px)translateY(8px);
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
  }
}

.shadow-pop-bl:hover {
  animation: shadow-pop-bl .3s cubic-bezier(.47, 0, .745, .715) both;
}

@keyframes shadow-pop-bl {
  0% {
    transform: translateX(0)translateY(0);
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
  }

  100% {
    transform: translateX(8px)translateY(-8px);
    box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
  }
}

.slide-bck-top:hover {
  animation: slide-bck-top .45s cubic-bezier(.47, 0, .745, .715) both;
}

@keyframes slide-bck-top {
  0% {
    transform: translateZ(0)translateY(0);
  }

  100% {
    transform: translateZ(-400px)translateY(-200px);
  }
}

.slide-bck-bl:hover {
  animation: slide-bck-bl .45s cubic-bezier(.47, 0, .745, .715) both;
}

@keyframes slide-bck-bl {
  0% {
    transform: translateZ(0)translateY(0)translateX(0);
  }

  100% {
    transform: translateZ(-400px)translateY(200px)translateX(-200px);
  }
}

/*# sourceMappingURL=animation.8d087f6b.css.map */
